@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header {
    background: #1f2937;
    color: #F9FAF8;
    font-size: 24px;
    padding: 20px 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* margin-right: auto; */
}

.hero {
    background: #1f2937;
    /* width: 1000px; */
    padding: 150px 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20px */
    /* flex-shrink: 1; */
}

.hero-text {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* margin-left: auto; */
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
}

.info {
    padding: 50px;
    padding-bottom: 150px;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.items {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 10px;
  }
  
.item {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #1f2937;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    max-width: 200px;
}

.placeholder {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin: 10px 0px;
}

.quote {
    background: #e5e7eb;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text {
    width: 800px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    display: flex;
    flex-direction: column;
}

.below {
    font-size: 25px;
    font-weight: 800;
    color: #1f2937;
    align-self: flex-end;
    font-style: normal;
}

img {
    /* flex-shrink: 3; */
    /* margin-right: auto; */
}

ul {
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    gap: 26px;
}

button {
    background: #3882f6;
    color: #F9FAF8;
    border: none;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 8px;
    align-self: flex-start;
}